.vercel
.next
bun.lock
.tmp
**/.git
**/.hg
**/.pnp.*
**/.svn
**/.yarn/**
**/build
**/dist/**
**/node_modules
**/temp
**/docs/**
**/*.md
tsconfig.json
agent/
worker/
charts/
docs/
manifests/
playwright-report/
private/
public/
test-results/
.claude/
.mypy_cache
.markdownlint.yaml
.prettierrc.json
.pytest_cache/
